@page
@model Turney_Keeper.Pages.Account.LogoutModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
    <meta http-equiv="refresh" content="3;url=/Index">
</head>
<body>
    <form method="post">
        <p>Successfully logged out. Have a nice day!</p>
    </form>
</body>
</html>